<tr id="editora-{{ editora.id }}">
    <th scope="row">{{ editora.id }}</th>
    <td>{{ editora.nome }}</td>
    <td>{{ editora.endereco }}</td>
    <td>{{ editora.telefone }}</td>
    <td>{{ editora.CNPJ }}</td>
    <td>
        <button id="info" c-get="{{ url_for('editora.detalhe_editora', id=editora.id) }}" c-target="#exibir-editora" data-bs-toggle="modal" data-bs-target="#editoraModal">Info</button>
        <button id="editar" c-get="{{ url_for('editora.editar_editora', id=editora.id) }}" c-target="#form-editora">Editar</button>
        <button id="excluir" c-delete="{{ url_for('editora.deletar_editora', id=editora.id) }}" c-remove-closest="tr">Excluir</button>
    </td>
</tr>