{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
    <h1 class="titulo_secao">Cliente</h1>
    <div>
        <div id="form-cliente" c-container="{{ url_for('cliente.form_cliente')}}"></div>
        <hr>
        <div c-container="{{ url_for('cliente.lista_clientes') }}"></div>
    </div>
    <div class="modal fade" id="clienteModal" tabindex="-1" aria-labelledby="clienteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="clienteModalLabel">Detalhe do cliente</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="exibir-cliente"></div>
        </div>
        </div>
    </div>
{% endblock %}