<tr id="emprestimo-{{ emprestimo.id }}">
    <th scope="row">{{ emprestimo.id }}</th>
    <td>{{ emprestimo.cliente.nome }}</td>
    <td>{{ emprestimo.livro.titulo }}</td>
    <td>{{ emprestimo.data_devolucao.strftime("%d/%m/%Y") }}</td>
    <td>
        <button id="info" c-get="{{ url_for('emprestimo.detalhe_emprestimo', id=emprestimo.id) }}" c-target="#exibir-emprestimo" data-bs-toggle="modal" data-bs-target="#emprestimoModal">Info</button>
        <button id="editar" c-get="{{ url_for('emprestimo.editar_emprestimo', id=emprestimo.id) }}" c-target="#form-emprestimo">Editar</button>
        <button id="excluir" c-delete="{{ url_for('emprestimo.deletar_emprestimo', id=emprestimo.id) }}" c-remove-closest="tr">Excluir</button>
    </td>
</tr>