<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="cadastro-cliente" target="_self">Cliente</a></li>
            <li><a href="cadastro-livro" target="_self">Livro</a></li>
            <li><a href="cadastro-atendente" target="_self">Atendente</a></li>
            <li><a href="cadastro-editora" target="_self">Editora</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Cadastro de Editora</h1>
        <form method = 'post'>
            <label for="nomeEditora">Nome:</label>
            <input type="text" name="nomeEditora" id="nomeEditora" required>

            <label for="endereco">Endereço:</label>
            <input type="text" name="endereco" id="endereco" required>

            <label for="telefoneEditora">Telefone:</label>
            <input type="tel" name="telefoneEditora" id="telefoneEditora" required>

            <label for="cnpjEditora">CNPJ:</label>
            <input type="cnpj" name="cnpjEditora" id="cnpjEditora" required>

            {% if error_message %}
                <p id="error_message">Erro: {{error_message}}</p>
            {% endif %}

            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>
