<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"></head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}" target="_self">Página Inicial</a></li>
            <li><a href="{{ url_for('cad_atendente') }}" target="_self">Atendente</a></li>
            <li><a href="{{ url_for('cad_cliente') }}" target="_self">Clientes</a></li>
            <li><a href="{{ url_for('cad_editora') }}" target="_self">Editoras</a></li>
            <li><a href="{{ url_for('cad_livro') }}" target="_self">Livros</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Cadastro de Atendente</h1>
        <form method="post">
            <label for="nomeAtendente">Nome:</label>
            <input type="text" name="nomeAtendente" id="nomeAtendente" required>

            <label for="cargo">Cargo:</label>
            <select name="cargo">Selecione
                <option value="valor1">Atendente</option>
                <option value="valor2">Gerente</option>
                <option value="valor3">Administrador</option>
              </select>

            <label for="dataNascimento">Data de Nascimento:</label>
            <input type="date" name="dataNascimento" id="dataNascimento" required>        

            <h2>Criar Login</h1>

            <label for="emailAtendente">Email:</label>
            <input type="email" name="emailAtendente" id="emailAtendente" required>

            {% if error_message %}
                <p id="error_message">Erro: {{error_message}}</p>
            {% endif %}
    
            <label for="passwordAtendente">Senha:</label>
            <input type="password" name="passwordAtendente" id="passwordAtendente" required>

            <label for="passwordAtendente">Digite a senha novamente:</label>
            <input type="password" name="passwordAtendente" id="passwordAtendente" required>


            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>
