<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="cadastro-cliente" target="_self">Cliente</a></li>
            <li><a href="cadastro-livro" target="_self">Livro</a></li>
            <li><a href="cadastro-atendente" target="_self">Atendente</a></li>
            <li><a href="cadastro-editora" target="_self">Editora</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Cadastro de Livro</h1>
        <form method="post">
            <label for="titulo">Título:</label>
            <input type="text" name="tituloLivro" id="titulo" required>

            <label for="autor">Autor:</label>
            <input type="text" name="autorLivro" id="autor" required>

            <label for="isbn">ISBN:</label>
            <input type="text" name="ISBN" id="isbn" required>

            {% if error_message %}
                <p id="error_message">Erro: {{error_message}}</p>
            {% endif %}

            <label for="dataLancamento">Data de Lançamento:</label>
            <input type="date" name="dataLancamento" id="dataLancamento" required>

            <button type="submit">Cadastrar</button>
        </form>
    </div>>
</body>
</html>
