<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <nav class="navbar">
        <img src="assets/img/logo.png" id="logo" width="110px" height="120px" alt="" srcset="">
    </nav>

    <main class="telas">
        <section class="conteudo" id="login">
            <div class="container" id="login">
                <h2  class="subtitulo_conteudo">Login</h2>
                <form action="" method="post">
                    <label for="email">Email:</label>
                    <input type="email" name="emailCliente" id="email" required>            
                    
                    <label for="password">Senha:</label>
                    <input type="password" name="passwordCliente" id="password" required>
                    <span> <a href="">Esqueci minha senha</a></span><br>
                    <button>Continuar</button>

                </form>                
            </div>

        </section>

    </main>
    
</body>
</html>
