<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/templates/index.html" target="_self">Página Inicial</a></li>
            <li><a href="/templates/cadastro-atendente.html" target="_self">Atendente</a></li>
            <li><a href="/templates/cadastro-clientes.html" target="_self">Clientes</a></li>
            <li><a href="/templates/cadastro-editora.html" target="_self">Editoras</a></li>
            <li><a href="/templates/cadastro-livro.html" target="_self">Livros</a></li>        </ul>
    </nav>
    <div class="container">
        <h1>Cadastro de Cliente</h1>
        <form method="post">
            <label for="nome">Nome:</label>
            <input type="text" name="nomeCliente" id="nome" required>

            <label for="email">Email:</label>
            <input type="email" name="emailCliente" id="email" required>            

            <label for="telefone">Telefone:</label>
            <input type="tel" name="telefoneCliente" id="telefone" required>

            {% if error_message %}
                <p id="error_message">Erro: {{error_message}}</p>
            {% endif %}

            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>
