<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/templates/index.html" target="_self">Página Inicial</a></li>
            <li><a href="/templates/cadastro-atendente.html" target="_self">Atendente</a></li>
            <li><a href="/templates/cadastro-clientes.html" target="_self">Clientes</a></li>
            <li><a href="/templates/cadastro-editora.html" target="_self">Editoras</a></li>
            <li><a href="/templates/cadastro-livro.html" target="_self">Livros</a></li>
        </ul>
    </nav>

    <main class="telas">
        <section class="conteudo" id="login">
            <div class="container" id="login">
                <h2  class="subtitulo_conteudo">Login</h2>
                <form action="" method="post">
                    <label for="email">Email:</label>
                    <input type="email" name="emailCliente" id="email" required>            
                    
                    <label for="password">Senha:</label>
                    <input type="password" name="passwordCliente" id="password" required>
                    <span>Esqueci minha senha</span><br>
                    <button>Continuar</button>

                </form>                
            </div>

        </section>

    </main>
    
</body>
</html>
