<main class="telas">
    <section class="conteudo" id="login">
        <div class="container" id="login">
            <h2  class="subtitulo_conteudo">Login</h2>
            <form action="" method="post">
                <label for="email">Email:</label>
                <input type="email" name="emailCliente" id="email" required>            
                
                <label for="password">Senha:</label>
                <input type="password" name="passwordCliente" id="password" required>
                <span>Esqueci minha senha</span><br>
                <button>Continuar</button>

            </form>                
        </div>

    </section>

</main>