<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Editoras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="cadastro-cliente" target="_self">Cliente</a></li>
            <li><a href="cadastro-livro" target="_self">Livro</a></li>
            <li><a href="cadastro-atendente" target="_self">Atendente</a></li>
            <li><a href="cadastro-editora" target="_self">Editora</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Clientes</h1>
        {% for cliente in clientes %}
            <p>Cliente ID: {{ cliente.id }} - Nome: {{ cliente.nome }} - Email: {{ cliente.email }} - Telefone: {{ cliente.telefone }}</p>
        {% endfor %}
    </div>
    
    <div class="container">
        <h1>Livros</h1>
        {% for livro in livros %}
            <p>Livro ID: {{ livro.id }} - Título: {{ livro.titulo }} - Autor: {{ livro.autor }} - ISBN: {{ livro.ISBN }} - Data de Lançamento: {{ livro.dataLancamento }}</p>
        {% endfor %}
    </div>

    <div class="container">
        <h1>Atendentes</h1>
        {% for atendente in atendentes %}
            <p>Atendente ID: {{ atendente.id }} - Nome: {{ atendente.nome }} - Email: {{ atendente.email }} - Cargo: {{ atendente.cargo }}</p>
        {% endfor %}
    </div>

    <div class="container">
        <h1>Editoras</h1>
        {% for editora in editoras %}
            <p>Editora ID: {{ editora.id }} - Nome: {{ editora.nome }} - Endereco: {{ editora.endereco }} - Telefone: {{ editora.telefone }} - CNPJ: {{ editora.CNPJ }}</p>
        {% endfor %}
    </div>
</body>
</html>