<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}" target="_self">Página Inicial</a></li>
            <li><a href="{{ url_for('cad_atendente') }}" target="_self">Atendente</a></li>
            <li><a href="{{ url_for('cad_cliente') }}" target="_self">Clientes</a></li>
            <li><a href="{{ url_for('cad_editora') }}" target="_self">Editoras</a></li>
            <li><a href="{{ url_for('cad_livro') }}" target="_self">Livros</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Clientes</h1>
        {% for cliente in clientes %}
            <p>Cliente ID: {{ cliente.id }} - Nome: {{ cliente.nome }} - Email: {{ cliente.email }} - Telefone: {{ '({}) {}-{}'.format(cliente.telefone[:2], cliente.telefone[2:7], cliente.telefone[7:]) }}</p>
        {% endfor %}
        <button id="editar">Editar</button>
        <button id="excluir">Excluir</button>
    </div>
    
    <div class="container">
        <h1>Livros</h1>
        {% for livro in livros %}
            <p>Livro ID: {{ livro.id }} - Título: {{ livro.titulo }} - Autor: {{ livro.autor }} - ISBN: {{ '{}-{}-{}-{}-{}'.format(livro.ISBN[:3], livro.ISBN[3:5], livro.ISBN[5:8], livro.ISBN[8:12], livro.ISBN[12:]) }} - Data de Lançamento: {{ livro.data_lancamento.strftime("%d/%m/%Y") }}</p>
        {% endfor %}
        <button id="editar">Editar</button>
        <button id="excluir">Excluir</button>
    </div>

    <div class="container">
        <h1>Atendentes</h1>
        {% for atendente in atendentes %}
            <p>Atendente ID: {{ atendente.id }} - Nome: {{ atendente.nome }} - Email: {{ atendente.email }} - Cargo: {{ atendente.cargo }}</p>
        {% endfor %}
        <button id="editar">Editar</button>
        <button id="excluir">Excluir</button>
    </div>

    <div class="container">
        <h1>Editoras</h1>
        {% for editora in editoras %}
            <p>Editora ID: {{ editora.id }} - Nome: {{ editora.nome }} - Endereco: {{ editora.endereco }} - Telefone: {{ '({}) {}-{}'.format(editora.telefone[:2], editora.telefone[2:7], editora.telefone[7:]) }} - CNPJ: {{ '{}.{}.{}/{}-{}'.format(editora.CNPJ[:2], editora.CNPJ[2:5], editora.CNPJ[5:8], editora.CNPJ[8:12], editora.CNPJ[12:]) }}</p>
        {% endfor %}
        <button id="editar">Editar</button>
        <button id="excluir">Excluir</button>
    </div>
</body>
</html>