html, body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0;	
}

nav {
    text-decoration: none;
    display: flex;
    justify-content: space-between; /* Distribute space between logo, nav links, and search */
    align-items: center;
    padding: 10px 10px;
    background-color: #636d77;
    color: #f4f4f4;
}

nav .logo img {
    margin-left: 30px;
    width: 110px;
    height: 105px;
}

.nav-links {
    list-style-type: none;
    text-align: center;    
}

nav li {
    text-decoration: none;
    margin: 0 15px;
    margin-top: 35px;
    list-style-type: none;
}
nav ul{
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
}

nav a:hover {
    transition: 0.8s;
    opacity: 0.6;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-bar input {
    margin-top: 13px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 15px;
}

.search-bar button {
    color: white;
    background-color: #4e5863;
    border: none;
    padding: 5px 10px;
    margin-top: 13px;
    margin-right: 50px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 17px;
}

.search-bar button:hover {
    background-color: #667786; 
}

.container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 50px;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 0.8em;
    margin-bottom: 20px;
}

.titulo_secao {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cadastrar {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.cadastrar:hover {
    background-color: #218838;
}

span a{
    text-decoration: none;
    font-size: 12px;
    color: gray;
}

span:hover{
    text-decoration: underline ;
    text-decoration-color: gray
}

.telas{
    padding: 0% 35%;
    display:flex ;
    align-items: center;
    justify-content: space-between;
}

.conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 600px;
}

.table {
    text-align: center;
}

#cadastrar,
#login{
    height: 350px;
    box-shadow: none;
    border-radius: 0% ;
}

#info{
    background-color: #6b6f7a;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#info button:hover{
    background-color: #4f525a;
}

#editar{
    background-color: #3f65e2;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#editar button:hover{
    background-color: #5479f1;
}

#excluir{
    background-color: #f52222;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#excluir button:hover{
    background-color: #ff4444;
}

.filtro {
    margin-top: 23px;
    cursor: pointer;
    border: none;
    text-align: center;
    background-color: #636d77;
    font-size: 16px;
    color: white;
    width: 90px;
    appearance: none; 
    /*border-radius: 15px;*/
    font-size: 17px;
    font-weight: bold;
}
