<tr id="livro-{{ livro.id }}">
    <th scope="row">{{ livro.id }}</th>
    <td>{{ livro.titulo }}</td>
    <td>{{ livro.autor }}</td>
    <td>{{ livro.editora.nome }}</td>
    <td>
        <button id="info" c-get="{{ url_for('livro.detalhe_livro', id=livro.id) }}" c-target="#exibir-livro" data-bs-toggle="modal" data-bs-target="#livroModal">Info</button>
        <button id="editar" c-get="{{ url_for('livro.editar_livro', id=livro.id) }}" c-target="#form-livro">Editar</button>
        <button id="excluir" c-delete="{{ url_for('livro.deletar_livro', id=livro.id) }}" c-remove-closest="tr">Excluir</button>
    </td>
</tr>